parameters:
    level: max
    paths:
        - src
    excludePaths:
        - vendor
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false